@import "tailwindcss";

@font-face {
    font-family: coolvetica;
    src: url(./assets/font/Coolvetica\ Rg.otf);
}

html,
body {
    touch-action: manipulation;
}

#cool {
    font-family: coolvetica;
}

button {
    cursor: pointer;
}

.arrow {
    transition: transform 0.8s ease;
    transform: rotate(90deg) scale(0.8);
}

.kotak:hover .arrow {
    transform: rotate(-45deg) scale(1.1);
}

.sign {
    transition: background-color 0.4s ease, color 0.4s ease;
}

.sign:hover {
    color: white;
    background-color: #56AFCA;
}

.login {
    transition: background-color 0.4s ease, color 0.4s ease;
}

.login:hover {
    color: #56AFCA;
    background-color: white;
}

.hitam {
    transition: transform 0.8s ease;
}

.google:hover .hitam {
    transform: scale(1.2) rotate(360deg);
}

.tekss {
    transition: background-color 0.4s ease, color 0.4s ease;
}

.tekss:hover {
    color: #56AFCA;
}

.cek-box:active .white-check {
    opacity: 100;
    z-index: 10;
}

.cek-box:active {
    background-color: #56AFCA;
}

.boxx {
    outline: 1px solid white;
    border-radius: 30px;
    box-shadow:
        inset -7px 6px 4px -2px rgba(255, 255, 255, 0.49),
        inset 10px 4px 4.5px -4px rgba(255, 255, 255, 0.47);
}

.boxxx {
    outline: 1px solid white;
}

.rotet {
    transition: 1.2s ease;
}

.rotate:hover .rotet {
    transform: rotate(360deg);
}

.card {
    background: linear-gradient(90deg, #78BFF6 0%, #296594 100%);
}


.scroll-barr::-webkit-scrollbar {
    width: 8px;
    height: 5px;
}

.scroll-barr::-webkit-scrollbar-thumb {
    background: #50B1FF;
    border-radius: 10px;
}


.scroll-barr::-webkit-scrollbar-track {
    background: #1E5989;
    border-radius: 10px;
}

.navbar:hover {
    color: #50B1FF;
}

.navbar:active {
    animation: shake 0.4s ease;
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }

    20% {
        transform: translateX(-5px);
    }

    40% {
        transform: translateX(5px);
    }

    60% {
        transform: translateX(-5px);
    }

    80% {
        transform: translateX(5px);
    }

    100% {
        transform: translateX(0);
    }

}

.logout:hover {
    color: #50B1FF;
}